# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Data
.data/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
tests/
*.log

# Environment
.env
.env.local
*.local


# OS
.DS_Store
Thumbs.db

# 项目规划和想法
api/
plan/
mock/
doc/


#Cursor
.cursor/
.cursorrules